body{
    margin: 0 auto;
}

.container{
    width:90%;
    height:100vh;
    background-color:blue;
    display: flex;

    align-items: center;
    justify-content: center;
    margin:0 auto;
    overflow:scroll;
}

.container .message{
    text-align: center;
    color:white;
}