body{

    padding: 0;
    margin: 0;

}


$theme0:#fcad26;
$theme0shadow:#efa424;
$them0background:#fcd04b;

$theme1:#4da6a6;
$theme1shadow:#008080;
$them1background:#73b9b9;

$theme2:#e066c2;
$theme2shadow:#d119a3;
$them2background:#e88cd1;

$theme3shadow:#0d6eff;
$theme3:#267dff;
$them3background:#80b2ff;

$theme4shadow:#ffd119;
$theme4: #ffdb4d;
$them4background: #ffe373;

$theme5shadow:#666699;
$theme5:#7d7da8;
$them5background:#a3a3c2;

$theme6shadow:#0d6eff;
$theme6:#267dff;
$them6background:#80b2ff;


