.section-about{
    background-color: $color-grey-light;
    padding:25rem 0;
    margin-top: -20vh;


    @include respond(tab-port){
        
        // margin-top: -20vh;
        padding-top: 20rem;
        padding-bottom: 70rem;
    }
    @include respond(phone){
        
        // margin-top: -20vh;
        padding-top: 20rem;
        padding-bottom: 50rem;
    }


    
   


    .heading-secondary{
      

        &:hover{
            
            text-shadow: .5rem 1.2rem 1.2rem rgba($color-black, .2);
        }
       
    }

    .about-grid{
        
        display:grid;
        grid-template-columns: 2fr 2fr;
        justify-items: space-between;
        grid-column-gap: 2rem;
        width:80%;
        margin:0 auto;

        @include respond(tab-port){
            
            grid-template-columns: 1fr;
            width: 70%;
            gap: 10rem;
          
       }

       @include respond(phone){
        gap: 10rem;
      
   }

    }

}


.section-features{
    padding:20rem 12rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.80),
        rgba($color-primary-dark, 0.801)),
        url("../../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg);
    }

    .feature-grid{

        display:grid;
        grid-template-columns: .6fr .6fr .6fr .6fr;
        gap: 3.5rem;

        @include respond(tab-port){
            width: 70%;
            margin: 0 auto;
           grid-template-columns: 1.2fr;
           gap:8rem;
        }
        @include respond(phone){
            width: 100%;
           
        }

    }

    
}

.section-courses{
    background-color: $color-grey-light;
    padding:25rem 0 18rem 0;
    margin-top: -10rem;



    .courses-grid{
        padding: 0 5rem;
        
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;

        @include respond(tab-port){
           width: 100%;
        //    margin: 0 auto;
           grid-template-columns: 1fr;
           gap:8rem;
        }
        @include respond(phone){
            // width: 100%;
           
        }

        


        
    }
}

.section-stories{

    padding:15rem 0;
    
    position: relative;

    .stories-grid{
        display: flex;
        flex-flow:column;
        justify-items: space-between;
        justify-content: space-between;
        align-items: center;

    
    .story{
        width:75%;
        // margin: 0 auto;
        box-shadow: 0 3rem 6rem rgba($color-black, .1);
        background-color: rgba($color-white,.60);
        border-radius: 3px;
        padding: 5rem;
        font-size: $default-font-size;
        transform: skewX(-12deg);
    

        &>*{
            transform: skewX(12deg);
        }

        &__shape{
            width:15rem;
            height:15rem;
            float: left;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-clip-path: circle(50% at 50% 50%);
            transform: translateX(-3rem) skewX(12.01deg);
            position: relative;
            backface-visibility: hidden;
        

            img{
                height: 100%;
                transform: translateX(-4rem) scale(1.4);
                backface-visibility: hidden;
                transition: all .5s;
                overflow: hidden;
            }

           

          
        }

        .caption{
            position: absolute;
            top:50%;
            left: 50%;
            color: white;
            text-transform: uppercase;
            font-size: 1.7rem;
            text-align: center;
            transform: translate(-50%, 20%);
            opacity: 0;
            transition: all .5s;
            backface-visibility: hidden;

        }

       &:hover {
           .caption{
            opacity: 1;
            transform: translate(-50%, -50%);
           }

           img{
            transform: translateX(-4rem) scale(1);
            filter: blur(3px);
           }
        
       }

    }

}

}

.book{
    padding:17rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);


    @include respond(phone){
           
        padding: 20rem 2rem;
      }

    &__container{
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        

    }

    &__box{
        background-image: linear-gradient(105deg,
                    rgba($color-white,.9) 0%,
                    rgba($color-white,.9) 50%,
                    transparent 50%),
                    url(../../img/nat-10.jpg);
        background-size: cover;
        height: 50rem;
        width:100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        @include respond(tab-port){
           

            background: 
            /* top, transparent red, faked with gradient */ 
            linear-gradient(
              rgba($color-white,.90), 
              rgba($color-white,.90)
            ),
            /* bottom, image */
            url(../../img/nat-10.jpg);
          }

          @include respond(phone){
            height: auto;
          }


    }

    &__form{
        width: 50%;
        padding:6rem;

        @include respond(tab-port){
            width:100%;
          }
          @include respond(phone){
            //   width: 100%;
            
          }
         
    }

    &__title{

        @include respond(tab-port){
           
            text-align: center;
          }
    }
}

