.section-about{
    background-color: $color-grey-light;
    padding:25rem 0;
    margin-top: -20vh;
   


    .heading-secondary{
      

        &:hover{
            
            text-shadow: .5rem 1.2rem 1.2rem rgba($color-black, .2);
        }
       
    }

    .about-grid{
        
        display:grid;
        grid-template-columns: 2fr 2fr;
        justify-items: space-between;
        grid-column-gap: 2rem;
        width:80%;
        margin:0 auto;

    }

}


.section-features{
    padding:20rem 12rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.80),
        rgba($color-primary-dark, 0.801)),
        url("../../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg);
    }

    .feature-grid{

        display:grid;
        grid-template-columns: .6fr .6fr .6fr .6fr;
        gap: 3.5rem;

    }

    
}

.section-courses{
    background-color: $color-grey-light;
    padding:25rem 0 50rem 0;
    margin-top: -10rem;



    .courses-grid{
        padding: 0 10rem;
        background-color: yellow;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
    }
}