/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start of content */
#header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 20px; */
    background:white;
    position: fixed;
    width:100%;
    height:30px;
    border-bottom: solid #dc143c 2px;
    font-family: 'Chivo', sans-serif;
    z-index: 1;
}

.logo{
    height:auto;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:15%;

}
.logo img{
    height:auto;
    max-width:30px;
    display:inline-block;
    
}
.logo p{
    font-size:20px;
    display:inline;
    font-weight: 700;
}

#nav-element{
    text-align: right;
}
.nav-link{
    box-sizing:border-box;
    display:inline-block;
    
    padding: 5px 50px;  
    height:30px;
}

.nav-link a{
    border-left:solid 2px black;
    border-right:solid 2px black;
}


#nav-element a{
    font-size:18px;
    display:inline-block;
    /* color:#dc143c; */
    color:black;
    text-decoration: none;
    font-weight: 400;
}

#nav-element a:hover{
   background:#dc143c;
   color:white;
}
/* picture */
.container{
    width: 100%;
    background:#350a0a;
}
.picture-container{
    overflow: hidden;
    height:1400px;
    margin:0 auto;
    text-align: center;
    position:relative;
    width:90%;
}
.picture-container img{
    margin:0 auto;
    width:100%;
    max-height: 100%;
    /* transition: transform .5s ease-in-out .2s; */
}
.picture-container .textboxcontainer{
    position:absolute;
    background:hsla(0,100%,50%,.15);
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    transition: .5s;
    color:white;
}
.textboxcontainer h1{
    position:absolute;
}
.textboxcontainer p{
    position:absolute;
}

.picture-container:hover .textboxcontainer{
    /* -webkit-transform: skewY(20deg); /* Safari 3-8 */
    /* transform: skewY(.5deg); */ 
    left:0%;
    background:hsla(0,100%,50%,.1);

}
.picture-container .textboxcontainer p{

    
    color:rgba(0, 0, 0, 0);
}
.picture-container .textboxcontainer h1{
   
    
    color:rgba(0, 0, 0, 0);
}
.picture-container:hover .textboxcontainer h1{
    /* -webkit-transform: skewY(20deg); /* Safari 3-8 */
    /* transform: skewY(.5deg); */ 

    /* opacity: .9; */
    color:white;
    top:23%;
    left:40%;
    font-size: 35px;
    font-family: 'Chivo', sans-serif;
    animation: text 1s 1;
}

@keyframes text{
    0%{
        color:rgb(255, 255, 255);
        margin-bottom: -40px;
    }
    30%{
        color:white;
        margin-bottom:-60px;
        letter-spacing: 15px;
    }
    80%{
        letter-spacing: 8px;

    }
}
.picture-container:hover .textboxcontainer p{
    /* -webkit-transform: skewY(20deg); /* Safari 3-8 */
    /* transform: skewY(.5deg); */ 
    
    /* opacity: .9; */
    color:white;
    top:35%;
    font-size: 25px;
    font-family: 'Chivo', sans-serif;
    animation: text 2s 1;
}

/* Dinning */
.dinning-container{
    background:black;
    height:100%;
    width:100%;
}
.dinning{
    width:98%;
    height:1323px;
    margin:0 auto;
}
/* Dinning info */
.dinning .info{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:1px;
}
.dinning .info .coffee{
    background:url("https://images.unsplash.com/photo-1442512595331-e89e73853f31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-size:cover;
    background-position: center center;
}
.dinning .info .people{
    max-width: 100%;
    max-height: 100%; 
}
.dinning .info .people .motto{
    display:flex;
    align-items: center;
    justify-content: center; 
    background:black;
    width:100%;
    height:600px;
}
.dinning .info .people .motto .mottotext{
    background:black;
    width:90%;
    height:55%;
    box-sizing: border-box;
    border:solid 8px white;
    text-align: center;
 }

.dinning .info .people .motto h1{
   font-family: 'Anton', sans-serif;
   color:white; 
   font-size: 65px;
   display:block;
   font-weight: 400;
   padding:5px 0;
   /* padding:80px 80px; */   
}

.dinning .info .food{
    background:url("https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
    no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-size:cover;
    background-position: center center;
}

/* youtube section */
.youtube{
    text-align: center;
    width:100%;
}

#slider, .wrap, .slide-content{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height:100vh;
    overflow-x:hidden;
}
.wrap{position: relative;}

.slide{
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
.slide1{background-image: url("https://c1.staticflickr.com/4/3315/3241926435_cb6ec2c588_b.jpg");}
.slide2{background-image: url("https://c1.staticflickr.com/1/57/158381302_59f2de8d40_b.jpg");}
.slide3{background-image: url("https://images.unsplash.com/photo-1460306855393-0410f61241c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .slide-content span{
    font-size: 5rem;
    color:#fff;
}

 .arrow{
    cursor: pointer;
    position: absolute;
    top:50%;
    margin-top:-35px;
    /* width:0;
    height:0; */
    border-style: solid;
} 

#arrow-left{
    border-width:30px 40px 30px 0;
    left:0;
    border-color:transparent #fff transparent transparent;
    margin-left:30px;
}  
#arrow-right{
    border-width:30px 0 30px 40px;
    right:0;
    border-color:transparent transparent transparent #fff;
    margin-right:30px;
}  

.extra-container{
  width:99%;
  height:500px;
  margin:0 auto;
}
.extra-container .extra{
  display:grid;
  grid-template-columns:1fr 1fr;
  background:darkblue;
  height:100%;
  grid-column-gap: 10px;
}
.extra-container .extra .youtube{
    display:flex;
    flex-direction: row-reverse;
    background:yellow;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .extra-container .extra form{
    display:flex;
    flex-direction: column;
    background:green;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    justify-content: center;
    height:100%;
  }
  .extra-container .extra form h1{
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .extra-container .extra form h2{
    font-size: 1.1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    display:block;
    width:100%;
}
.owner-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:99%;
    background:#350a0a;
    height:700px;
    text-align: center;
    margin:0 auto;
    grid-column-gap: -2px;

}
.owner-container .ruby{
     display:flex;
     align-content: center center;
     align-items: center; 
     justify-content: center;
 }
.owner-container .ruby img{
   background-image:url("https://images.unsplash.com/photo-1516522973472-f009f23bba59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
   background-size:cover;
   background-repeat: none;
   background-position:center center;
   height:60%;
   width:60%;
   border-radius: 20px;
   -webkit-box-shadow: 0px 7px 35px -5px rgba(0,0,0,1);
-moz-box-shadow: 0px 7px 35px -5px rgba(0,0,0,1);
box-shadow: 0px 7px 35px -5px rgba(0,0,0,1);
   
}
.owner-container .ruby-info{
    display:flex;
    align-content: center center;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.owner-container .ruby-info h1{
   font-size: 40px;
   height:10%;
   font-family: 'Chivo', sans-serif;
   font-weight: 800;
   padding-right:40px;
   color:white;
   letter-spacing: 2px;
   
}

.owner-container .ruby-info h2{
    font-size: 23px;
    height:10%;
    font-family: 'Anton', sans-serif;
    font-weight:600;
    padding-right:40px;
    color:white;
    letter-spacing: 2px;
    padding-top:40px;
 }
 .owner-container .ruby-info p{
    font-size: 18px;
    height:10%;
    font-family: 'Anton', sans-serif;
    font-weight:300;
    padding-right:40px;
    color:white;
    padding-bottom:90px;
 }
/* 